body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: skyblue;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align:center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.intro {
    padding: 50px 0;
}

.intro h2 {
    margin-bottom: 20px;
}

footer {
    background-color:skyblue;
    color: #fff;
    padding: 20px 0;
    text-align:center;
}

footer p {
    font-size: 20px;
}
